
// SASS Variables ==========================================================

// Colors
$bg: #f9f9f9;
$subtle: #e9e9e9;
$subtle_: #f5f5f5;
$text: #222;

// Sizing Defaults
$padding: 30px;
$padding_: 20px;
$padding__:15px;

// Breakpoint Sizing Default
$l_max: 1260px;
$m_max: 1020px;
$s_max: 760px;
$xs_max: 480px;

// Container Sizing Defaults
$max_container: 1200px;

// SASS Plugins
@mixin clearfix () {&:after {content:""; display:table; clear:both;}}
@mixin box-shadow($shadow) {-moz-box-shadow: $shadow; -webkit-box-shadow: $shadow; box-shadow: $shadow;}
@mixin border-radius($radius) {-webkit-border-radius: $radius; border-radius: $radius; background-clip: padding-box;}

// Resets & Basic Classes ===================================================
html, body {margin:0px; padding:0px; width:100%; min-height:100%;}
h1, h2, h3 {margin:0px; color:inherit; font-family:inherit;}
input, textarea {
	font-family:inherit;
	&:focus {outline: none;}
}
* {box-sizing:border-box;}
img {border:0; max-width:100%;}
a {color:inherit; text-decoration:none;}

// Default Responsive Breakpoints & Container Sizes =========================
@mixin breakpoint($point) {
	@if $point == l {
		@media screen and (max-width: $l_max)  {@content;}
	}
	@else if $point == m {
		@media screen and (max-width: $m_max)  {@content;}
	}
	@else if $point == s {
		@media screen and (max-width: $s_max)  {@content;}
	}
	@else if $point == xs {
		@media screen and (max-width: $xs_max)  {@content;}
	}
}

.container {
	width: $max_container; margin:0px auto;
	@include breakpoint(l) {width:100%; padding:0px $padding;}
	@include breakpoint(s) {padding:0px $padding__;}
}

// Body Styles ===============================================================
body {
	background:$bg;
}

// Fonts =====================================================================
body {
	font-family:'Avenir', sans-serif; font-size:16px; color:$text; line-height:1.4;
	@include breakpoint(s) {font-size:14px;}
}
h1 {
	font-size:26px;
	@include breakpoint(s) {font-size:20px;}
}
h2 {
	font-size:22px;
	@include breakpoint(s) {font-size:18px;}
}
h3 {
	font-size:18px;
	@include breakpoint(s) {font-size:16px;}
}

// Layout Styles ===========================================================
header {
	@include clearfix;
	.logo {
		float:left;
		line-height:60px; font-size:22px; text-transform:lowercase; font-weight:bold;
	}
	.navigation {
		display:block;
		.menu {
			display:inline-block;
			a {
				display:inline-block; margin-left:30px; line-height:40px; padding-top:10px;
				&:hover {padding-top:7px; border-top:3px solid #ddd;}
				&.active {padding-top:7px; border-top:3px solid #ccc;}
			}
			&.user_menu {float:right;}
		}
	}
	@include breakpoint(s) {

		.navigation {display:none;} // For now
	}
}

.view {
	background:white; border:1px solid $subtle; @include border-radius(5px); margin-bottom:$padding;
	@include breakpoint(s) {
		margin-left:-$padding__; margin-right:-$padding__;
		border-left:0px; border-right:0px;
		@include border-radius(0px);
	}
}

.heading {
	border-bottom:1px solid $subtle; padding:$padding $padding_ $padding_;
	.button {float:right;}
	@include breakpoint(s) {
		padding:$padding_ $padding__ $padding__;
	}
}

.row {
	display:block; border-bottom:1px solid $subtle; padding:0px $padding_; @include clearfix;
	&.heading_row {
		background:$subtle_;
		.column {line-height:30px; font-size:13px;}
	}
	.column {
		display:block; float:left; padding:0px 10px; line-height:36px; font-size:14px;
		&:first-child {padding-left:0px;}
		&:last-child {padding-right:0px;}
		&.right {
			text-align:right;
			input {text-align:right;}
		}
		&.error {
			input {color:red}
		}
	}
	input {
		width:100%; border:0px; line-height:inherit; font-size:inherit; font-weight:300;
	}
	@include breakpoint(s) {
		padding:0px $padding__;
		.column {padding:0px 4px; line-height:30px; font-size:13px;}
	}
}
.insight {
	padding:0px 0px $padding_;
	.insight-heading {padding:$padding_;}
	.insight-table {display:block; width:100%; overflow-x:scroll;}
	tr:nth-child(even) {background:$subtle_}
	th, td {
		padding:0px 14px; text-align:right;
		&:first-child {padding-left:$padding_; text-align:left;}
		&:last-child {padding-right:$padding_;}
	}
	th {
		font-weight:400; font-size:13px; line-height:24px; text-transform:uppercase;
		white-space:nowrap;
	}
	td {font-size:15px; font-weight:300; text-align:right; line-height:34px;}
	tr.total td {font-weight:500;}
}

.transaction {
	.check {width:5%;}
	.date {width:20%;}
	.desc {width:40%;}
	.category {width:20%;}
	.amount {width:15%;}
	@include breakpoint(xs) {
		.check {display:none;}
		.category, .amount {width:20%;}
		.date {width:25%}
		.desc {width:35%}
		.amount {padding-right:0px;}
	}
}

.category {
	.name {width:45%;}
	.parent {width:45%;}
	.check {width:10%;}
}

// Fonts ====================================================================
@font-face {
    font-family: 'Avenir';
    src: url('/fonts/Avenir-Light-webfont.eot');
    src: url('/fonts/Avenir-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Avenir-Light-webfont.woff') format('woff'),
         url('/fonts/Avenir-Light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('/fonts/Avenir-Roman-webfont.eot');
    src: url('/fonts/Avenir-Roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Avenir-Roman-webfont.woff') format('woff'),
         url('/fonts/Avenir-Roman-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('/fonts/Avenir-Oblique-webfont.eot');
    src: url('/fonts/Avenir-Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Avenir-Oblique-webfont.woff2') format('woff2'),
         url('/fonts/Avenir-Oblique-webfont.woff') format('woff'),
         url('/fonts/Avenir-Oblique-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir';
    src: url('/fonts/Avenir-Medium-webfont.eot');
    src: url('/fonts/Avenir-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Avenir-Medium-webfont.woff') format('woff'),
         url('/fonts/Avenir-Medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('/fonts/Avenir-Black-webfont.eot');
    src: url('/fonts/Avenir-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Avenir-Black-webfont.woff') format('woff'),
         url('/fonts/Avenir-Black-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}